:root{
  /*------ Colors ------*/
  --color-withe:#fcfcfc;
  --color-border: #d6d6d6;
  --color-grey:#6b6b6b;
  --color-black:#3b3b3b;
  --color-active:#1797ff;

  /*------ Fonts ------*/
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Libre Baskerville', serif;
  --font-heading1: 500 28px/28px var(--font-secondary);
  --font-body: 500 14px/20px var(--font-primary);

  /*------ Numbers ------*/
  --font-general-size: 14px;
  --font-letter-spacing: 0.25px;
}

body {
  font: var(--font-body);
  letter-spacing: var(--font-letter-spacing);
  background-color: var(--color-withe);
  color: var(--color-gray);
}

h1 {
  font: var(--font-heading1);
  color: var(--color-black);
  text-transform: uppercase;
}