.card {
  background-color: var(--color-white);
  border-radius: 6px;
  border: solid 1px #979797;
  display: flex;
  height: 90px;
  justify-content: space-between;
  margin: 38px 150px 30px 40px;
  opacity: 0.8;
  padding: 0 0 0 26px;
}

.card:hover {
  opacity: 0.4;
}

.favorite-button {
  background-color: #60606013;
  border-radius: 0 6px 6px 0;
  border: solid 1px #60606013;
  cursor: pointer;
  height: 90px;
  margin: 0 0 0 16px;
  padding: 35px 22px 33px;
}

.card-body {
  color: var(--color-black);
  margin: 14px 0;
  text-decoration: none;
  width: 100%;
}

.card-author {
  align-items: center;
  display: flex;
  font-size: 11px;
}

.icon-date {
  margin-right: 8px;
}

.card-title {
  margin-top: 6px;
  font: var(--font-body)
}
